* {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

:focus {
    outline: none;
}


.max-width {
  margin: 0 auto;
}

.pointer {
  cursor: pointer;
}

.nowrap-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.no-shrink {
  flex-shrink: 0;
}

.flex-grow {
  flex-grow: 1;
}

.flex {
  display: table-cell;
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.magenta-riddim {
  color: #ed0074 !important;
}

.flex-col {
  flex-direction: column;
}

.flex-col-reverse {
  flex-direction: column-reverse;
}

.flex-row {
  flex-direction: row;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-around {
  justify-content: space-around;
}

.flex-evenly {
  justify-content: space-evenly;
}

.flex-between {
  justify-content: space-between;
}

.flex-start {
  justify-content: flex-start;
}

.flex-end {
  justify-content: flex-end;
}

.flex-center {
  justify-content: center;
}

.flex-align-center {
  align-items: center;
}

.flex-align-start {
  align-items: flex-start;
}

.flex-align-stretch {
  align-items: stretch;
}

.flex-align-end {
  align-items: flex-end;
}

.flex-align-baseline {
  align-items: baseline;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-flow-wrap {
  flex-flow: wrap;
}

.flex-align-self-stretch {
  align-self: stretch;
}

.upper-case {
  text-transform: uppercase;
}

.pointer {
  cursor: pointer;
}

.underline {
  text-decoration: underline;}

.vertical-align-bottom {
  vertical-align: bottom;
}

.text-align-center {
  text-align: center;
}

.text-align-left {
  text-align: left;
}

.overflow-x-scroll {
  overflow-x: scroll;
}

.width100 {
  width: 100%;
}

.height100 {
  height: 100%;
}

.link:hover {
  text-decoration: underline;
}

.hide {  display: none;
}

@keyframes main-slide-up-onload {
  0% {
      opacity: 0;
      transform: translateY(30px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

@font-face {
  font-family: 'RobotoLight';
  src: url(./assets/fonts/roboto/Roboto-Light.ttf);
}

@font-face {
  font-family: 'RobotoRegular';
  src: url(./assets/fonts/roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: 'RobotoMedium';
  src: url(./assets/fonts/roboto/Roboto-Medium.ttf);
}

@font-face {
  font-family: 'RobotoBold';
  src: url(./assets/fonts/roboto/Roboto-Bold.ttf);
}

body {
  font-family: "RobotoReg", "Helvetica Neue", "sans-serif";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
